name: Build python application
on:
  workflow_dispatch:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  job1:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: 3.11 # this is a job level variable
    steps:
    - name: Clone the repo
      uses: actions/checkout@v6
    - name: Install python ${{ env.PYTHON_VERSION }} on runner
      uses: actions/setup-python@v6
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install python dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
  job2:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: 3.9
    steps:
    - name: Clone the repo
      uses: actions/checkout@v6
    - name: Install python ${{ env.PYTHON_VERSION }} on runner
      uses: actions/setup-python@v6
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Install python dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt
